
<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= @product_count %></h1>
    <h6 class="card-subtitle mb-2 text-muted">Products listed</h6>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= @categories_count %></h1>
    <h6 class="card-subtitle mb-2 text-muted">Categories</h6>
  </div>
</div>
