<section id="about-us">
  <h2>Welcome to Jungle</h2>
  <p>
    Welcome, Please feel free to search our vast arrray of plants. Find one or
    two or as many as you like. Add to your cart for a seamless experience and
    checkout using Stripe
  </p>
  <h2>Thank you for shopping with Jungle</h2>
  <p>
    Thank you for taking time out of your busy day and visiting the Jungle App
  </p>
</section>
